.content {
  background-color: DarkGray;
  margin: 0 auto;
  width: 50%;
}
.container {
  background-color: White;
  border-radius: 15px;
  width: 50%;
  height: 128px;
}
.picture {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  align:left;
  margin: 4px;
}
.text {
  margin: 5px;
  align: right;
  font-size: 8;
  width: 420px;
  height: 50px;

}

body {
  background-color: SlateGray;
}
